       <table>
         <thead>
           <tr>
             <th class="show-for-large-only" >ID:</th>
	     <th>Title:</th>
	     <th class="show-for-large-only">FB_ID:</th>
	     <th>Actions</th>
	   </tr> 
         </thead>
         <tbody>
           <tr>
	     <% @cut.each do |x| %>
               <td class="show-for-large-only"  > <%= x.id %> </td> 
	       <td> <%= x.title %></td>
	       <td class="show-for-large-only"> <%= x.body %></td>
	       <td><a href="/delete/<%= x.id %>" class="button alert" >Delete</a><a href="/update/<%= x.id %>" class="button" >Update</a></td>
        
   <% end %>
	   </tr>
	 </tbody>

	</table>

